.jumbotron {
  margin-top: 10%;
  background: #fff;
  padding-bottom: 10px;
}
/*.jumbotron a {
  display: block;
  text-decoration: none;
}*/
/*.result {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}*/

/*.form-control::-moz-placeholder {
  text-align: right;
  direction: rtl;
}

.form-control::-webkit-input-placeholder {
  text-align: right;
  direction: rtl;
}*/

::-webkit-input-placeholder::after {
  font-family: fontAwesome;
  content: '\f002  ';
  color: #69f;
  margin-left: 90%;
}
::-moz-placeholder::after {
  font-family: fontAwesome;
  content: '\f002  ';
  color: #69f;
  margin-left: 90%;
}

/* firefox 19+ */
:-ms-input-placeholder::after {
  font-family: fontAwesome;
  content: '\f002  ';
  color: #69f;
  margin-left: 90%;
}

/* ie */
input:-moz-placeholder::after {
  font-family: fontAwesome;
  content: '\f002  ';
  color: #69f;
  margin-left: 90%;
}

.btn-primary {
  background-color: #699bfc;
  margin-top: 20px;
  display: inline-block;
  width: 125px;
}

.btn-primary:hover {
  background-color: #4380F9;
}

.result a h4 {
  color: #555;
}

.result a  p {
  color: #777;
}

.result a:hover {
  text-decoration: none;
}

.line-separator {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  background: #699bfc;
  height: 2px;
}
